.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 .trailer_img{
   width: 600px;
   height: 600px;
 }
.trailer_container{
  display: block;
}

.NetflixLogo {
  width : 60px ;
}

.trailer_description{
   
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.movie-list {
  display : flex ;
  justify-content : space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.SearchBar {
  padding-right: 900px;
}



.fa-star {
  color : gold ;
}